main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    background-color: blanchedalmond;
}

#maxScore {
    grid-area: 1/1/1/3;
    font-size: 50px;
    margin-top: 50px;
    padding: 30px;
}

#nowTurn {
    grid-area: 2/1/2/3;
    font-size: 35px;
}

.players {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    width: 320px;
    height: 450px;
    border: 5px double rebeccapurple;
    justify-items: center;
    align-content: center;
    padding: 20px;
    background-image: url(https://i.pinimg.com/736x/34/e9/5c/34e95ccaa442a7001a1bb822cfcc4f49.jpg);

}

#player1 {
    grid-area: 3/1/3/1;
    justify-self: end;
}

#score1 {
    grid-area: 4/1/4/1;
    font-size: 250px;
}

#player2 {
    grid-area: 3/2/3/2;
    justify-self: start;
}

#score2 {
    grid-area: 4/2/4/2;
    font-size: 250px;
}

#winner {
    grid-area: 5/1/5/3;
}

#dices{
    grid-area: 6/1/6/3;
    font-size: 35px;
    margin-top: 30px;
}

#scoreTurn {
    grid-area: 7/1/7/3;
    font-size: 25px;
    margin-top: 20px;
}

#button {
    grid-area: 8/1/8/3;
}

button {
    background-color: rgb(117, 124, 218);
    font-size: 30px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 300px;
}